V12/__pycache__/encrypt.cpython-311.pyc
V12/__pycache__/error.cpython-311.pyc
V12/__pycache__/password.cpython-311.pyc
V12/__pycache__/profiles.cpython-311.pyc
V12/__pycache__/search.cpython-311.pyc
V12/__pycache__/clscreen.cpython-311.pyc
V12/Error_Log.txt
/V13/Error_Log.txt
profile.db
V13/__pycache__/clscreen.cpython-311.pyc
V13/__pycache__/encrypt.cpython-311.pyc
V13/__pycache__/error.cpython-311.pyc
V13/__pycache__/password.cpython-311.pyc
V13/__pycache__/profiles.cpython-311.pyc
V13/__pycache__/search.cpython-311.pyc
V13/__pycache__/weather_report.cpython-311.pyc
/V12/.idea/
.vscode/settings.json
V14_alpha/__pycache__/clscreen.cpython-311.pyc
V14_alpha/__pycache__/encrypt.cpython-311.pyc
V14_alpha/__pycache__/error.cpython-311.pyc
V14_alpha/__pycache__/password.cpython-311.pyc
V14_alpha/__pycache__/profiles.cpython-311.pyc
V14_alpha/__pycache__/search.cpython-311.pyc
V14_alpha/__pycache__/weather_report.cpython-311.pyc
v14_alpha/Error_Log.txt
v14_alpha/__pycache__/timer.cpython-311.pyc
v14_alpha/__pycache__/timings.cpython-311.pyc
